body {
  background-color: rgb(236, 238, 241);
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
  margin-top: 0;
}

a {
    color: #0077C5;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  height: 54px;
  align-items: center;
}

.navSignin {
  display: flex;
  flex-direction: row;
  height: 54px;
  align-items: center;
  font-size: 12px;
  margin-right: 23px;
}

.navSignin img {
  height: 20px;
}

.navForgotPass {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: flex-end;
}

.navForgotPass a {
  text-decoration: none;
}

.forgotPass {
    margin-bottom: 5px;
}

.navSignin button {
    height: 35px;
    width: 100px;
    background-color: #0077C5;
    color: white;
    border-radius: 5px;
    border: solid;
    border-color: black;
    border-width: 0.2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.mainDiv {
    width:380px;
    align-self: center;
}

form {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset{
    border: solid;
    border-width: 1px 1px 0 1px;
    border-color: #C7C7C7;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

header h2 {
    font-weight: lighter;
}

header span {
    font-size: 14px;
}

header a {
    text-decoration: none;
    font-size: 12px;
    padding-top: 0;
}

.learnMore {
    display: flex;
    flex-direction: column;
}

.inputFormat {
    display: flex;
    flex-direction: column;
    margin: 17px;
    font-size: 14px;
}

.inputFormat span {
    font-size: 9.5px;
    margin-top: 6px;
}

.inputFormat label {
    margin: 14px 0;
}

.inputFormat input {
  height: 31px;
  font-size: 17px;
  width: 308px;
  border-style: solid;
  border-color: #C1C5C8;
  border-radius: 3px;
  border-width: 0.5px;
  padding-left: 5px;
}

.inputFormat input:focus {
    -webkit-box-shadow: 2px 1px 10px 1px rgba(117, 185, 240, 1);
    -moz-box-shadow: 2px 1px 10px 1px rgba(117, 185, 240, 1);
    box-shadow: 2px 1px 10px 1px rgba(117, 185, 240, 1);    
  }

.password {
    background: url(https://img.icons8.com/cotton/64/000000/unlock-2--v3.png) no-repeat;
    background-size: 21px;
    background-position: 288px;
    padding-right:30px;
    height: 25px;

}

.inputFormatPass label {
    margin: 14px 0;
}

.inputFormatPass input {
    height: 31px;
    font-size: 17px;
    border-radius: 3px;
    border-color: #C1C5C8;
    border-style: solid;
    border-width: 0.5px;
    width: 278px;
    font-size: 18px;
    padding-left: 5px;
  }

  .inputFormatPass input:focus {
  -webkit-box-shadow: 2px 1px 10px 1px rgba(117, 185, 240, 1);
  -moz-box-shadow: 2px 1px 10px 1px rgba(117, 185, 240, 1);
  box-shadow: 2px 1px 10px 1px rgba(117, 185, 240, 1);
}

  .inputFormatPass {
    display: flex;
    flex-direction: column;
    margin: 17px;
    font-size: 14px;
}

.confirmPass {
    display: none;
}

.inputFormatPass input:required ~ .confirmPass {
    display: flex;
    flex-direction: column;   
  }

  fieldset button {
      width: 312px;
      align-self: center;
      background-color: #0077C5;
      margin: 30px 17px;
      border-radius: 5px;
      height: 45px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: none;
  }

  fieldset button span {
      color: white;
      align-self: center;
      margin-left: 5px;
      font-size: 16.5px;
  }
  fieldset button img {
    width: 22px;
    height: 22px;
    align-self: center;
}

.termsandcon {
    text-align: center;
    font-style: italic;
    font-size: 11.5px;
    color: #757575;
    line-height: 1.25rem;
}

.termsandcon a {
    text-decoration: none;
}

.captcha {
    font-size: 9.5px;
    color: #8D9096;
    background-color: #ECEEF1;
    height: 46px;
    width: 372px;
    text-align: center;
    border: solid;
    border-color: #C7C7C7;
    border-width: 0 1px 1px 1px;  
}

.captcha a {
    text-decoration: none;
    align-self: center;
}

.captcha p {
    margin-top: 16.5px; 
}

footer {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    height: 90px;
    font-size: 12px;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #505050;  
    margin: 0 5px;
}

footer p {
    margin-top: 0; 
}

.anchor {
    margin-bottom: 0;
}